
.index{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

// node-div
.node-div{
  width: 100%;
  background-color: #23353c;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100PX;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}
.node-div > .node-image{
  width: 60PX;
  height: 60PX;
  border-radius: 5PX;
  background-color: white;
  margin-right: 10PX;
  flex: 0 0 auto;
}
.node-div > .info-div{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  color: white;
  font-size: 16PX;
}
.info-div > .words{
  margin-top: 10PX;
  font-size: 14PX;
}

.topic-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}
.topic-div > .creater-div{
  width: 100%;
  padding: 10rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.topic-div > .creater-div > .user-image{
  width: 30PX;
  height: 30PX;
  border-radius: 50%;
  margin-right: 10PX;
}
.topic-div > .title{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16PX;
  // line-height: 20PX;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.topic-div > .others{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.topic-div > .others > text{
  font-size: 12PX;
  margin-right: 15px;
}
.topic-div > .others > .tag{
  padding: 5px 10px;
  background-color: gray;
  color: white;
  border-radius: 5PX;
}


.footer{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px 20px;
  border-top: 1px solid gray;
}

.footer > text{
  width: 100%;
  text-align: center;
  color: gray;
  font-size: 12PX;
}
