
.index{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  padding-bottom: 20PX;
}

// node-div
.node-div{
  margin-left: 2%;
  width: 47%;
  margin-top: 10px;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.node-div > .node-image{
  width: 40PX;
  height: 40PX;
}

.node-div > .node-info-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.node-info-div > .name{
  font-size: 18PX;
  color: black;
  line-height: 36PX;
}
.node-info-div > .topics,
.node-info-div > .stars{
  font-size: 14PX;
  color: gray;
  line-height: 18PX;
}

.title{
  width: 100%;
  box-sizing: border-box;
  padding: 10PX 20px;
  font-size: 20PX;
  line-height: 26PX;
  font-weight: bold;
}
.content{
  width: 100%;
  box-sizing: border-box;
  padding: 10PX 20px;
  font-size: 16PX;
  line-height: 26PX;
}

// 评论
.reply-div{
  width: 100%;
  margin-top: 10px;
  background-color: white;
  padding: 10px 20px;
  box-sizing: border-box;
}
.reply-div > .reply-user-div{
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.reply-user-div > .user-image{
  width: 24PX;
  height: 24PX;
}
.reply-user-div > .user-name{
  font-size: 14PX;
  color: black;
  margin-left: 20px;
}
.reply-user-div > .time{
  font-size: 14PX;
  color: gray;
  margin-left: 20px;
}
.reply-div > .reply-content{
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 16PX;
  margin-bottom: 10px;
}

.footer{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px 20px;
  border-top: 1px solid gray;
}

.footer > text{
  width: 100%;
  text-align: center;
  color: gray;
  font-size: 12PX;
}
